Package: linux-installer
Version: 0.2
Section: utils
Priority: optional
Architecture: all
Depends: python3 (>= 3.8), python3-pyqt6, python3-requests, curl
Recommends: snapd, flatpak, wine
Maintainer: PymStudio <13197354683@163.com>
Description: Linux 软件安装器
  Ubuntu/Debian 软件安装器，支持：
  - apt/snap/flatpak 搜索安装
  - 镜像测速和一键换源
  - 本地包安装 (.deb/.rpm/.AppImage/.exe)
  - 一键装机预设环境
